.title {
  margin-top: 4%;
  text-align: center;
}

.card-title {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  margin: auto;
  margin-top: 40px;
  width: 500px;
  border: 1px solid black;
  vertical-align: middle;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.visitor-info .value {
  padding-left: 40px;
}

.row td:nth-child(5n + 1) {
  text-align: center;
}

.row td:nth-child(5n + 4) {
  text-align: right;
}

.row td:nth-child(5n + 5) {
  text-align: center;
}

.wallet-list {
  width: 100%;
  border: 1px solid black;
  margin-top: 20px;
}

.wallet-list th,
.wallet-list td,
.wallet-list tr {
  border: 1px solid black;
}

.wallet-list td {
  padding: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 10px;
  margin: 20px;
  margin-bottom: 10px;
  width: 150px;
  cursor: pointer;
}
