{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'edit_profile.css' %}">
{% endblock %}

{% block title %} Profil | Edit {% endblock %}

{% block body %}
  <div class="card">
    <h2 class="card-title">
      Edit Profil
      {% if "visitor" in request.session.role %}
        Pengunjung
      {% else %}
        Organizer
      {% endif %}
    </h2>

    <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="field-wrapper">
          <div class="center">
            {{ field.label_tag }}
            {{ field }}
          </div>
          {{ field.errors }}
        </div>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Simpan Profil">
      <a href="{% url 'user:profile' %}">
        <button class="btn btn-secondary" type="button">Cancel</button>
      </a>
    </form>
  </div>
{% endblock %}
