{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block title %} Profil {% endblock %}

{% block body %}
  <div class="card">
    <h2 class="card-title">
      Profil
      {% if "visitor" in request.session.role %}
        Pengunjung
      {% else %}
        Organizer
      {% endif %}
    </h2>

    <div class="field-wrapper">
      <div class="center">
        <table>
          {% for field in form %}
            <tr>
              <td class="label">{{ field.label }}</td>
              <td class="value">: {{ field.value }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <a class="btn btn-primary" href="{% url 'user:edit_profile' %}">
      Edit Profil
    </a>
  </div>
{% endblock %}
