.title {
  margin: auto;
  text-align: center;
}

.subtitle {
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.btn-wrapper {
  width: 400px;
  margin: auto;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.btn-link {
  margin: 5px;
}

.btn {
  padding: 10px 15px;
  width: 150px;
  cursor: pointer;
}
