body {
  text-align: center;
}

.title {
  margin-top: 4%;
}

.subtitle {
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.card {
  margin: auto;
  margin-top: 40px;
  width: 500px;
  border: 1px solid black;
  vertical-align: middle;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.type-radio {
  display: flex;
  margin: auto;
}

.radio-wrapper {
  margin: 20px 25px;
}

.register-form {
  margin: auto;
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
}

.field-wrapper {
  margin: 20px 0px;
  text-align: left;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.register-btn {
  width: 100px;
  cursor: pointer;
}

label {
  align-self: flex-start;
}
