body {
  text-align: center;
}

.title {
  margin-top: 4%;
}

.card-title {
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  margin: auto;
  margin-top: 40px;
  width: 500px;
  border: 1px solid black;
  vertical-align: middle;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.register-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-wrapper {
  margin-bottom: 30px;
  text-align: left;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.btn {
  width: 150px;
  cursor: pointer;
}

label {
  align-self: flex-start;
}
