{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'pesan_tiket.css' %}">
{% endblock %}

{% block title %} Pesan Tiket {% endblock %}

{% block body %}
<div class="card">
    <h2 class="card-title">Buat event baru</h2>

    <div class="card-content">
        <div class="desc" id="ticket-list">
            <form>
                <p>Nama Event: <input type="text" name="nama_event"></p>
                <p>Deskripsi Event: <input type="text" name="deskripsi"></p>
                <p>Tema: <input type="text" name="tema"></p>
                <p>Tanggal Mulai: <input type="text" name="tanggal_mulai"></p>
                <p>Tanggal Selesai: <input type="text" name="tanggal_selesai"></p>
                <p>Jam Mulai: <input type="text" name="jam_mulai"></p>
                <p>Jam Selesai: <input type="text" name="jam_selesai"></p>
                <p>Tipe Event: <input type="text" name="tipe"></p>
            </form>
        </div>
        <ul class="list">
            <p>Lokasi Event</p>
            <li id="ticket-list" style="margin-bottom: 8px;">
                <form>
                    <input type="text" name="nama_gedung">
                    <input type="text" name="kota">
                    <input type="text" name="alamat">
                    <button type="button">Hapus row</button>
                </form>
                <form>
                    <input type="text" name="nama_gedung">
                    <input type="text" name="kota">
                    <input type="text" name="alamat">
                    <button type="button">Hapus row</button>
                </form>
            </li>
            <button type="button">Tambah row</button>
            <p>Daftar Kelas Tiket</p>
            <li id="ticket-list" style="margin-bottom: 8px;">
                <form>
                    <input type="text" name="nama_kelas">
                    <input type="text" name="tarif">
                    <input type="text" name="kapasitas">
                    <button type="button">Hapus row</button>
                </form>
                <form>
                    <input type="text" name="nama_kelas">
                    <input type="text" name="tarif">
                    <input type="text" name="kapasitas">
                    <button type="button">Hapus row</button>
                </form>
            </li>
            <button type="button">Tambah row</button>
        </ul>

        <div class="transaction">
            <button type="button">Create Event</button>
            <button type="button">Cancel</button>
        </div>
    </div>

</div>

{% endblock %}