{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'event_list.css' %}">
{% endblock %}

{% block title %} Event {% endblock %}

{% block body %}

<div class="card">
  <h2 class="card-title">Events</h2>
  
  <div class="card-content">
    {% if 'organizer' in request.session.role %}
      <div class="btn-wrapper">
        <a class="btn btn-info" href="{% url 'event:create' %}">
          Buat Event Baru
        </a>
    {% endif %}
    </div>
    {% if page_obj %}
      <table class="event-list">
        <tr>
          <th>No</th>
          <th>Tema Event</th>
          <th>Nama Event</th>
          <th>Organizer</th>
          <th>Lokasi</th>
          <th>Tanggal</th>
          <th>Jam</th>
          <th>Kapasitas</th>
          {% if request.session.role is None or 'visitor' in request.session.role %}
            <th>Pesan Tiket</th>
          {% else %}
            <th>Edit Event</th>
            <th>Delete</th>
          {% endif %}
        </tr>
        
        {% for event in page_obj %}
          <tr class="t-row">
            <td>{{ event.no }}</td>
            <td>
              {% for theme in event.tema %}
                {{ theme }}{{ forloop.last|yesno:",&#44;"|safe }}
              {% endfor %}
            </td>
            <td>{{ event.nama }}</td>
            <td>{{ event.organizer.nama }}</td>
            <td>
              {% for location in event.lokasi %}
                {{ location }}{{ forloop.last|yesno:",&#44;"|safe }}
              {% endfor %}
            </td>
            <td>{{ event.tanggal_mulai }} - {{ event.tanggal_selesai }}</td>
            <td>{{ event.jam_mulai }} - {{ event.jam_selesai }}</td>
            <td>{{ event.kapasitas_total_tersedia }}</td>
            {% if request.session.role is None or 'visitor' in request.session.role %}
              <td>
                <a class="btn btn-success" href="{% url 'tiket:buy' event.id_event %}">
                  Pesan Tiket
                </a>
              </td>
            {% else %}
              {% if event.organizer.email == request.session.email %}
                <td>
                  <a class="btn btn-warning" href="{% url 'event:edit' event.id_event %}">
                    Edit  
                  </a>
                </td>
                <td>
                  <input type="submit" value="Hapus" class="btn btn-danger"
                  onclick="return confirm(`Apakah anda yakin untuk menghapus Event ini?`);">
                </td>
              {% else %}
                <td></td><td></td>
              {% endif %}
            {% endif %}
          </tr>
        {% endfor %}
      </table>

      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
    
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>

    {% else %}
      <h3>Tidak ada event saat ini...</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
