{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block title %} Login {% endblock %}

{% block body %}
  <h2 class="subtitle">{{ message }}</h2>
  <div class="card">
    <h2 class="card-title">Login</h2>
    <form class="login-form" action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="field-wrapper">
          {{ field.label_tag }}<br>
          {{ field }}
        </div>
      {% endfor %}
      <p>{{ error }}</p>
      <input class="login-btn btn btn-primary" type="submit" value="Login">
    </form>
  </div>
{% endblock %}
