{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'register_organizer.css' %}">
{% endblock %}

{% block title %} Registrasi | Organizer {% endblock %}

{% block body %}
  <div class="card">
    <h2 class="card-title">Daftar sebagai Organizer</h2>

    <div class="type-radio">
      <div class="radio-wrapper">
        <input type="radio" name="type" id="company" {{ company.is_visible|yesno:'checked,' }}>
        <label for="company">Perusahaan</label>
      </div>
      <div class="radio-wrapper">
        <input type="radio" name="type" id="individual" {{ individual.is_visible|yesno:'checked,' }}>
        <label for="individual">Individu</label>
      </div>
    </div>

    <form class="register-form" id="individual-form" action="" method="post">
      {% csrf_token %}
      {% for field in individual.form %}
        <div class="field-wrapper">
          <div class="center">
            {{ field.label_tag }}<br>
            {{ field }}
          </div>
          {{ field.errors }}
        </div>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <form class="register-form" id="company-form" action="" method="post">
      {% csrf_token %}
      {% for field in company.form %}
        <div class="field-wrapper">
          <div class="center">
            {{ field.label_tag }}<br>
            {{ field }}
          </div>
          {{ field.errors }}
        </div>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Register">
    </form>
  </div>
{% endblock %}

{% block script %}
<script>
  const radios = document.querySelectorAll(`[name="type"]`);

  const individualForm = document.querySelector(`#individual-form`);
  const companyForm = document.querySelector(`#company-form`);
  
  function hideForm() {
    const individualRadio = document.querySelector(`#individual`);
    const companyRadio = document.querySelector(`#company`);
    if (!individualRadio.checked) {
      individualForm.style.display = "none";
      companyForm.style.display = "flex";
    } else {
      individualForm.style.display = "flex";
      companyForm.style.display = "none";
    }
  }
  
  hideForm();

  for (const radio of radios) {
    radio.addEventListener("change", () => hideForm());
  }
</script>
{% endblock %}
