{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'register_choose.css' %}">
{% endblock %}

{% block title %} Registrasi {% endblock %}

{% block body %}
  <h2 class="subtitle">Daftar sebagai:</h2>

  <div class="btn-wrapper">
    <a class="btn-link" href="{% url 'auth:register_visitor' %}">
      <button class="btn btn-info">Pengunjung</button>
    </a>
    <a class="btn-link" href="{% url 'auth:register_organizer' %}">
      <button class="btn btn-info">Organizer</button>
    </a>
  </div>
{% endblock %}
