{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'register_visitor.css' %}">
{% endblock %}

{% block title %} Registrasi | Pengunjung {% endblock %}

{% block body %}
  <div class="card">
    <h2 class="card-title">Daftar sebagai Pengunjung</h2>
    <form class="register-form" action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="field-wrapper">
          <div class="center">
            {{ field.label_tag }}<br>
            {{ field }}
          </div>
          {{ field.errors }}
        </div>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Register">
    </form>
  </div>
{% endblock %}
