.title {
  margin-top: 4%;
  text-align: center;
}

.card-title {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  margin: auto;
  margin-top: 40px;
  width: 500px;
  border: 1px solid black;
  vertical-align: middle;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.desc {
    margin-bottom: 20px;
}

.transaction {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
