{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'pesan_tiket.css' %}">
{% endblock %}

{% block title %} Pesan Tiket {% endblock %}

{% block body %}
<div class="card">
    <h2 class="card-title">Pesan Tiket</h2>

    <div class="card-content">
        <div class="desc">
            <p>Tema Event: {{ desc.tema }}</p>
            <p>Nama Event: {{ desc.nama }}</p>
            <p>Deskripsi: {{ desc.deskripsi }}</p>
            <p>Tanggal: {{ desc.tanggal }}</p>
            <p>Lokasi Event: {{ desc.lokasi }}</p>
            <p>Tipe Event: {{ desc.tipe }}</p>
        </div>


        <ul class="list">
            {% for ticket in tickets %}
            <li id="ticket-list" style="margin-bottom: 8px;">
                {{ ticket.nama_kelas }} - {{ ticket.tarif }} - Kap: {{ ticket.kapasitas }} - Kap tersedia: {{ ticket.kapasitas_tersedia }}
                <form>
                    <input type="text" name="nama_pendaftar">
                    <input type="text" name="email_pendaftar">
                    <button type="button">Hapus row</button>
                </form>
                <form>
                    <input type="text" name="nama_pendaftar">
                    <input type="text" name="email_pendaftar">
                    <button type="button">Hapus row</button>
                </form>
            </li>
            <button type="button">Tambah row</button>
            {% endfor %}
        </ul>

        <div class="transaction">
            <button type="button">Buat transaksi</button>
            <button type="button">Cancel</button>
        </div>
    </div>
    
</div>

{% endblock %}