{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'transaksi_tiket.css' %}">
{% endblock %}

{% block title %} Transaksi Tiket {% endblock %}

{% block body %}
<div class="card">
    <h2 class="card-title">Transaksi</h2>

    <div class="card-content">
        <table class="transaction-list">
            <tr>
                <th>No.</th>
                <th>Tanggal Transaksi</th>
                <th>Waktu Transaksi</th>
                <th>Status Transaksi</th>
                <th>Total Bayar</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for trans in transactions %}
            <tr class="row">
                <td>{{ forloop.counter }}</td>
                <td>{{ trans.tanggal }}</td>
                <td>{{ trans.waktu }}</td>
                <td>{{ trans.status }}</td>
                <td>{{ trans.total_bayar }}</td>
                <td>
                    <a href="{% url 'tiket:update' %}">
                        <button type="button">Edit</button>
                    </a>
                </td>
                <td>
                    <input type="submit" value="Hapus" class="btn"
                    onclick="return confirm(`Apakah anda yakin untuk menghapus Transaksi Event ini?`);">
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}
