{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'top_up.css' %}">
{% endblock %}

{% block title %} Dompet {% endblock %}

{% block body %}
<div class="card">
  <h2 class="card-title">Tambah Saldo</h2>

  <div class="card-content">
    <form action="" method="post">
      {% csrf_token %}
      <table class="visitor-info">
        <tr>
          <td>Nama</td>
          <td class="value">: {{ user.nama_depan }} {{ user.nama_belakang }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td class="value">: {{ user.email }}</td>
          <input type="hidden" name="email_pengunjung" value="{{ user.email }}">
        </tr>
        <tr>
          <td>Nama Dompet</td>
          <td class="value">: {{ wallet.nama.value }}</td>
          <input type="hidden" name="nama" value="{{ wallet.nama.value }}">
        </tr>
        <tr>
          <td>No. Akun</td>
          <td class="value">: {{ wallet.no_akun.value }}</td>
          <input type="hidden" name="no_akun" value="{{ wallet.no_akun.value }}">
        </tr>
        <tr>
          <td>Saldo saat ini</td>
          <td class="value">: Rp{{ wallet.saldo.value|money }}</td>
        </tr>
        <tr>
          <td>Nominal Top Up</td>
          <td class="value">: Rp{{ wallet.top_up_value }}</td>
        </tr>
        <tr>
          <td></td>
          <td class="value">{{ wallet.top_up_value.errors }}</td>
        </tr>
        <tr>
          <td>Saldo setelah Top Up</td>
          <td class="value" id="total-balance-display">: Rp{{ wallet.saldo.value|money }}</td>
          <input type="hidden" name="total_balance" id="total-balance-value" value="{{ wallet.saldo.value }}">
        </tr>
      </table>
      <div class="btn-wrapper">
        <input type="submit" value="Top Up" class="btn btn-warning"
          onclick="return confirm(`Anda akan melakukan topup sebesar Rp${moneyFormat(topUpValue.value)}\nSaldo anda akan menjadi Rp${moneyFormat(totalBalanceValue.value)}`);"
        >
        <a href="{% url 'e_wallet:list' %}">
          <button class="btn btn-danger" type="button">Cancel</button>
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  const topUpValue = document.querySelector("#id_top_up_value");
  const totalBalanceDisplay = document.querySelector("#total-balance-display");
  const totalBalanceValue = document.querySelector("#total-balance-value");
  const currentBalance = parseFloat({{ wallet.saldo.value }});

  function submit() {
    return confirm(`Anda akan melakukan topup sebesar ${moneyFormat(topUpValue.value)}\nSaldo anda akan menjadi ${totalBalanceValue.value}`);
  }
  
  function moneyFormat(x) {
    x = x.toString().split(".");
    return parseInt(x[0], 10)
      .toString()
      .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      + (x[1] ? "," + x[1] : "");
  }

  topUpValue.addEventListener("keyup", () => {
    topUpValue.value = topUpValue.value ? parseInt(topUpValue.value) : 0;
    val = parseInt(topUpValue.value);
    totalBalanceDisplay.innerHTML = ": Rp" + moneyFormat(currentBalance + val);
    totalBalanceValue.value = currentBalance + val;
  });
</script>
{% endblock %}
