{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'wallet_list.css' %}">
{% endblock %}

{% block title %} Dompet {% endblock %}

{% block body %}
<div class="card">
  <h2 class="card-title">Dompet Saya</h2>

  <div class="card-content">
    <table class="visitor-info">
      <tr>
        <td>Nama</td>
        <td class="value">: {{ user.nama_depan }} {{ user.nama_belakang }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td class="value">: {{ user.email }}</td>
      </tr>
    </table>
    <table class="wallet-list">
      <tr>
        <th>No.</th>
        <th>Nama Dompet</th>
        <th>No. Akun</th>
        <th>Saldo (Rp)</th>
        <th>Top Up Saldo</th>
      </tr>
      {% for wallet in wallets %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ wallet.nama }}</td>
          <td>{{ wallet.no_akun }}</td>
          <td>{{ wallet.saldo|money }}</td>
          <td>
            <a class="btn btn-warning" href="{% url 'e_wallet:top_up' wallet.no_akun %}">
              Top Up
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
