.title {
  margin-top: 4%;
  text-align: center;
}

.card-title {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  margin: auto 20px;
  margin-top: 40px;
  border: 1px solid black;
  vertical-align: middle;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.event-list {
  width: 100%;
  border: 1px solid black;
  margin-top: 20px;
}

.event-list th,
.event-list td,
.event-list tr {
  border: 1px solid black;
  text-align: center;
}

.event-list td {
  padding: 10px;
}

.btn-wrapper {
  text-align: right;
}
